nav
    width: 100%
    position: fixed 
    margin-top: 55px
    height: 65px
    z-index: 5
header
    background-color: rgba(0, 0, 0, 0.5)
    .flag
        display: flex
        justify-content: space-between
        align-items: flex-start
        height: 75px
        &__item
            display: flex
            justify-content: space-between
            align-items: flex-start
            margin-top: 2px
        &__link
            margin-left: 11px
            a 
                color: #fff
        &__country
            font-size: 14px
            line-height: 18px
            font-weight: 700
            color: #fff
        &__phone
            font-size: 12px
            font-weight: 300
            &:hover
                text-decoration: none
                color: $main-color
        &__email
            font-size: 12px
            font-weight: 300
            &:hover
                text-decoration: none
                color: $main-color
    .logo
        display: flex
        justify-content: space-between
        align-items: space-between
        &__item
            width: 140px
            height: 65px
            img
                width: 100%
    .hamburger
	    display: none
    .menu
        display: flex
        justify-content: space-between
        align-items: center
        list-style-type: none
        &_link
            margin: 0 19px
            font-size: 13px
            line-height: 26px
            font-weight: 700
            text-transform: uppercase
            color: #ffffff
            &:hover
                text-decoration: none
                color: $main-color
