@media (max-width: 1200px)
    header
        .flag
            height: 65px
            &__country
                font-size: 12px
            &__phone
                font-size: 10px
            &__email
                font-size: 10px
    .promo
        min-height: 565px
    .carousel
        margin-left: 100px
    .adventage__item
            width: 460px
            height: 310px
    .modal
        top: 60%
@media (max-width: 991px)
    .carousel
        display: none
    header
        .flag
            display: none
        .menu_link
            font-size: 11px
    .promo
        min-height: 500px
        &__header
            margin-top: 50px
            font-size: 35px
        &__subheader
            font-size: 20px
    .prengi
        height: 896px
        &__desc
            font-size: 14px
        &__header
            font-size: 30px
    .expert
        min-height: 700px
        &__tabs
            width: 680px
            height: 50px
        &__tab
            font-size: 11px
            line-height: 25px
            &_active
                box-shadow: inset 2px 2px 10px $main-color
        &__content
            width: 682px
            height: 403px
            img
                width: 100%
    .adventage
        min-height: 900px
        &__item
            width: 330px
            height: 222px
    .variations
        min-height: 530px
        &__wrapper
            margin-top: 100px
        &__head
            font-size: 20px
        &__desc
            font-size: 12px
            line-height: 20px
    .footer
        min-height: 400px
        &__menu
            margin-right: 80px
            width: 370px
        &__list
            margin-right: 50px
            &:nth-child(4)
                margin-right: 0        
        &__header
            margin-bottom: 15px
            font-size: 12px
        &__img
            width: 124px
            height: 42px
            img 
                width: 50%
        &__desc
            font-size: 10px
            line-height: 14px
        &__list_header
            font-size: 12px
            line-height: 14px
        &__list_item
            line-height: 14px
            a 
                font-size: 10px
                line-height: 14px
    .modal__close
        top: 40px
        right: 50px
@media (max-width: 767px)
    .promo__header
        font-size: 30px
        width: 100%
    nav
        width: 100%
        .menu
            position: fixed
            flex-direction: column
            justify-content: center
            align-items: center
            top: 0
            right: -100%
            width: 70%
            height: 100vh
            padding: 20px 15px
            background-color: rgba(18, 143, 201, 0.7)
            box-shadow: 2px 2px 50px #ffffff
            transition: 1s all
            &_active 
                right: 0
            &_item 
                padding-right: 0
                border: none
                margin: 10px 0
            &_link 
                font-size: 20px
        .hamburger
            display: block
            position: absolute
            right: 30px
            top: 50%
            transform: translateY(-50%)
            width: 26px
            height: 12px
            span 
                display: block 
                height: 2px
                width: 100%
                background-color: $main-color
                margin-bottom: 2px
                transition: 0.5cs all
            &_active 
                span
                    background-color: #ffffff
                    margin-bottom: -2px 
                    &:nth-child(1)
                        transform: translateY(3px) rotate(-45deg)
                    &:nth-child(2)
                        display: none
                    &:nth-child(3)
                        transform: translateY(3px) rotate(45deg)
    .prengi
        min-height: 1500px
        &__item
            margin-top: 10px
            width: 220px
            height: 240px 
            &:nth-child(1)
                margin-top: 10px  
            &:nth-child(3)
                margin-top: 10px 
        &__wrapper
            justify-content: center
            flex-wrap: wrap
    .title
        font-size: 25px
        width: 100%
    .expert
        min-height: 520px
        &__tabs
            width: 503px
            height: 50px
        &__tab
            text-align: center
            font-size: 10px
            line-height: 14px
            border-right: none
        &__content
            width: 500px
            height: 200px
            img
                width: 80%
    .adventage
        min-height: 900px
        &__item
            margin-top: 20px
    .variations
        min-height: 440px
        &__wrapper
            margin-top: 55px
        &__head
            font-size: 14px
        &__desc
            font-size: 10px
            line-height: 15px
    .communication__head
        margin: 0
        font-size: 20px
    .footer
        min-height: 400px
        &__menu
            margin-right: 15px
        &__list
            margin-right: 5px      
        &__header
            margin-bottom: 15px
    .modal
        top: 50%
        min-height: 200px
        &__close
            top: 40px
            right: 50px
    .feed__form
        z-index: 5
        input
            margin-top: 0
            height: 30px
        .button 
            &__modal
                margin-top: 0
@media (max-width: 575px) 
    nav .menu
        width: 100%
    .promo
        min-height: 390px
        &__header
            margin-top: 0
            text-align: center
            font-size: 20px
            line-height: 25px
        &__subheader
            text-align: center
            font-size: 15px
            width: 100%
            line-height: 20px
    .button
        display: block
        margin: 0 auto
        margin-top: 35px
    .prengi
        min-height: 1750px
        &__down
            display: none
        &__item_two
            margin-bottom: 0
    .expert
        min-height: 520px
        &__tabs
            padding: 0
            flex-direction: column
            width: 200px
            height: 140px
        &__tab
            text-align: center
            font-size: 16px
            line-height: 20px
            border-right: none
        &__content
            margin: 0 auto
            margin-top: 35px
            width: 280px
            height: 150px
            img
                display: block
                margin: 0 auto
                width: 80%
    .title
        font-size: 20px
        width: 100%
    .adventage
        &__item
            width: 90%
        &__desc
            font-size: 15px
            line-height: 20px
    &__head
        margin-right: 10px
        &_left
            margin-left: 10px
    .variations
        min-height: 410px
        &__wrapper
            align-items: flex-start
        &__head
            font-size: 13px
            text-align: right
            margin-right: 30px
            &_left
                text-align: left
                margin-right: 0
                margin-left: 35px
        &__desc
            display: none
    .footer
        min-height: 330px
        &__wrapper
            display: flex
            justify-content: center
        &__list
            display: none 
        &__logo
            display: flex
            flex-direction: column
            justify-content: center
            align-items: center
        &__img
            width: 124px
            height: 42px
            img 
                width: 100%
        &__desc
            text-align: center
    .modal__close
        top: 40px
        right: 50px